services:
  langfuse-server:
    image: langfuse/langfuse:2
    depends_on:
      - langfuse-db
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://langfuse:langfuse@langfuse-db:5432/langfuse
      - NEXTAUTH_SECRET=mysecret
      - SALT=mysalt
      - NEXTAUTH_URL=http://localhost:3000
      - TELEMETRY_ENABLED=${TELEMETRY_ENABLED:-true}
      - LANGFUSE_ENABLE_EXPERIMENTAL_FEATURES=${LANGFUSE_ENABLE_EXPERIMENTAL_FEATURES:-false}
    restart: unless-stopped
    networks:
      - langfuse

  langfuse-db:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=langfuse
      - POSTGRES_PASSWORD=langfuse
      - POSTGRES_DB=langfuse
    ports:
      - "5432:5432"
    volumes:
      - langfuse_db_data:/var/lib/postgresql/data
    networks:
      - langfuse

networks:
  langfuse:
    driver: bridge

volumes:
  langfuse_db_data:
    driver: local
